@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-bg-light: white;
  --color-bg-dark: #0f172a; /* slate-900 */
  --color-text-light: #0f172a;
  --color-text-dark: #f1f5f9; /* slate-100 */
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  scroll-behavior: smooth;
  transition: background-color 0.6s ease, color 0.6s ease,
    border-color 0.6s ease, box-shadow 0.6s ease, transform 0.3s ease;
}

body.mode-switch {
  position: relative;
}
body.mode-switch::after {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.05);
  /* backdrop-filter: blur(8px); */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
  z-index: 9999;
}
body.mode-switch.active::after {
  opacity: 1;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes softPulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.4);
  }
  50% {
    box-shadow: 0 0 20px 8px rgba(16, 185, 129, 0.2);
  }
}

@keyframes shimmer {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out forwards;
  -webkit-animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out;
  -webkit-animation: slideDown 0.4s ease-out;
}

@utility animate-float {
  animation: float 4s ease-in-out infinite;
  -webkit-animation: float 4s ease-in-out infinite;
}

@utility animate-softPulse {
  animation: softPulse 3s ease-in-out infinite;
  -webkit-animation: softPulse 3s ease-in-out infinite;
}

@utility animate-shimmer {
  background-size: 300% 100%;
  animation: shimmer 6s ease-in-out infinite;
  filter: brightness(1.3) saturate(1.5);
  -webkit-animation: shimmer 6s ease-in-out infinite;
  -webkit-filter: brightness(1.3) saturate(1.5);
}
